!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'bootstrap', 'voip'
    %title= yield(:title)
  = yield(:layout_content) or yield
